{% extends 'base.html' %}

{% block title %} Пользователи {% endblock %}

{% block content %}
    <table border="1" cellspacing="0">
        <tr>
            <th>Логин</th>
            <th>ФИО</th>
            <th>Пол</th>
            <th>Адрес</th>
            <th>Дата рождения</th>
            <th>Электронная почта</th>
        </tr>
        {% for element in users_datas %}
            <tr>
                <td><a href="users/{{ element.login }}">{{ element.login }}</a></td>
                <td>{{ element.fio }}</td>
                <td>
                    {% if element.sex == 'F' %}
                        &#128105;
                    {% else %}
                        &#128113;
                    {% endif %}
                </td>
                <td>{{ element.address }}</td>
                <td>{{ element.birth_date }}</td>
                <td>{{ element.email }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}